---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import HeroSecondary from "../components/HeroSecondary.astro";
---

<BaseLayout
title="Fertilite"
>
<Navbar/>
<HeroSecondary
heading="Accompagnement de parcours de fertilite"
/>


<div class="prose-xl text-center pt-16">
   <h1>En construction</h1>
</div>


</BaseLayout>
