---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";

---

<BaseLayout
title="Perte de Poids"
>
<Navbar/>
<section class="">

   <div class="hero min-h-52" style="background-image: url(/pertedepoids.jpg);">
       <div class="hero-overlay bg-opacity-60"></div>
       <div class="hero-content text-center text-neutral-content">
           <div class="max-w-md">
               <h1 class="mb-5 text-3xl sm:text-5xl font-bold">Perte de poids</h1>


           
           </div>
       </div>
   </div>
</section>

<div class="prose-xl text-center pt-16">
   <h1>En construction</h1>
</div>
</BaseLayout>
