---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";

import Footer from "../components/Footer.astro";
---

<BaseLayout title="Les techniques">
    <Navbar />

    <div class="flex justify-center pt-8">
        <div class="w-fit">
            <h1 class="mb-5 text-3xl sm:text-5xl font-bold">Les techniques</h1>

            <div class="divider"></div>
        </div>
    </div>

    <div class="text-center max-w-7xl mx-auto prose-base lg:prose-lg p-4">
        <div class="flex flex-wrap mt-4 text-left">
            <div class="w-full md:w-3/5 lg:w-1/2 px-4">
                <img
                    src="/hypnose.jpg"
                    alt="gem"
                    class="inline-block rounded shadow-lg border border-merino-400"
                />
            </div>
            <div
                class="w-full md:w-2/5 lg:w-1/2 px-4 text-center md:text-left lg:pl-12"
            >
                <h3 class="font-bold">L’hypnotherapie</h3>
                <p class="">
                    L'hypnothérapie, pratiquée depuis des siècles, a été l'objet
                    de nombreuses recherches scientifiques. Les résultats ont
                    révélé de multiples bienfaits pour le corps et l'esprit,
                    pouvant contribuer au soulagement de divers troubles
                    répertoriés par des institutions telles que l'OMS. En
                    ciblant les processus mentaux et en utilisant des techniques
                    spécifiques, l'hypnothérapie peut aider à surmonter des
                    défis allant de l'anxiété et du stress à la gestion de la
                    douleur, en passant par l'amélioration de la confiance en
                    soi et la gestion des phobies. Selon les besoins
                    individuels, une séance d'hypnothérapie peut favoriser la
                    relaxation profonde, améliorer la concentration, encourager
                    des changements de comportement positifs et même aider à
                    libérer des traumatismes émotionnels. En somme,
                    l'hypnothérapie offre un potentiel significatif pour le
                    bien-être physique et émotionnel, offrant une voie vers un
                    équilibre mental et une santé globale.
                </p>
            </div>
        </div>

        <div class="divider max-w-7xl mx-auto px-8"></div>

        <div class="flex flex-wrap mt-4 text-left">
            <div class="w-full md:w-3/5 lg:w-1/2 px-4">
                <img
                    src="/auriculo.jpg"
                    alt="project members"
                    class="inline-block rounded shadow-lg border border-merino-400"
                />
            </div>
            <div
                class="w-full md:w-2/5 lg:w-1/2 px-4 md:order-first text-center md:text-left lg:pr-12"
            >
                <div class="prose-base lg:prose-xl">
                    <h3 class="font-bold">
                        L’acupression – l’auriculothérapie
                    </h3>
                    <p class="">
                        Il s’agit d’une pratique plusieurs fois millénaire, qui
                        a fait l’objet de recherches scientifiques. Les
                        résultats ont démontrés de nombreux effets bénéfiques
                        sur le corps, et le maintient de la santé, pouvant
                        contribuer au soulagement de troubles référencés entre
                        autre par l’OMS. Il s’agit de la stimulation de points
                        d’acupuncture, situés sur les méridiens ou en dehors de
                        ces trajets visant à réguler l’énergie dans ces
                        derniers.
                    </p>
                    <p>
                        Selon les trajets ou les zones choisies, les actions
                        peuvent être plus ou moins larges et aller jusqu’à
                        favoriser la régulation des cycles menstruels par
                        exemple, ou encore stimuler la fertilité, contribuer à
                        une digestion facile, induire un meilleur sommeil,
                        contribuer à soulager la migraine etc.
                    </p>
                    <p>
                        Une séance peut être bénéfique dans de nombreuses
                        situations et apporte un bien être physique et
                        émotionnel.
                    </p>
                </div>
            </div>
        </div>

        <div class="divider max-w-7xl mx-auto px-8"></div>

        <div class="flex flex-wrap mt-4 text-left">
            <div class="w-full md:w-3/5 lg:w-1/2 px-4">
                <img
                    src="/reflexology.jpg"
                    alt="editor"
                    class="inline-block rounded shadow-lg border border-merino-400"
                />
            </div>
            <div
                class="w-full md:w-2/5 lg:w-1/2 px-4 text-center md:text-left lg:pl-12"
            >
                <h3 class="font-bold">La réflexologie dorsale</h3>
                <p>
                    Notre dos est un véritable réservoir à émotions. D’ailleurs,
                    selon l’expression consacrée ne dit-on pas « j’en ai plein
                    le dos » ou encore « je porte tout sur mes épaules ». Afin
                    de libérer les points d’énergie, le praticien utilise une
                    grande diversité de techniques précises variant selon les
                    zones, l’âge et la constitution de la personne.
                </p>
                <p>
                    Ce n’est pas un massage et cette technique est réalisée sur
                    une <table class="br"></table>
                    Ce soin est composé de nombreux gestes, plus ou moins profonds
                    dans les tissus, s’effectuant avec les pouces, les doigts, les
                    coudes, les avants bras. <br />
                    Le rythme des gestes peut être plus ou moins rapide.
                </p>
                <p>
                    Ce soin stimule les points d’énergie et fait circuler le
                    sang dans les tissus, il apporte un bien être et un
                    relâchement et peut contribuer au soulagement des douleurs
                    et différents maux pouvant gêner le quotidien. Il est
                    pratiqué avec des huiles végétales et des huiles
                    essentielles bio adaptées à chacun.
                </p>
            </div>
        </div>

        <div class="divider max-w-7xl mx-auto px-8"></div>

        <div class="flex flex-wrap mt-4 text-left">
            <div class="w-full md:w-3/5 lg:w-1/2 px-4">
                <img
                    src="/ventouses.jpg"
                    alt="bulk editing"
                    class="inline-block rounded shadow-lg border border-merino-400"
                />
            </div>
            <div
                class="w-full md:w-2/5 lg:w-1/2 px-4 md:order-first text-center md:text-left lg:pr-12"
            >
                <h3 class="font-bold">Les ventouses</h3>
                <p>
                    Les ventouses étaient autrefois très employées en Occident,
                    entre autres pour drainer les abcès ou pour traiter les
                    maladies pulmonaires. <br />
                    Dans le bien être, elles sont souvent utilisées pour contribuer
                    à soulager les douleurs, les problèmes de peau, les oedèmes,
                    produire de la détente musculaire etc <br />
                    Elles sont alors positionnée sur des zones choisies, plus ou
                    moins longtemps selon l’effet souhaité.
                </p>
            </div>
        </div>

        <div class="divider max-w-7xl mx-auto px-8"></div>

        <div class="flex flex-wrap mt-4 text-left">
            <div class="w-full md:w-3/5 lg:w-1/2 px-4">
                <img
                    src="/therapy.jpg"
                    alt="editor"
                    class="inline-block rounded shadow-lg border border-merino-400"
                />
            </div>
            <div
                class="w-full md:w-2/5 lg:w-1/2 px-4 text-center md:text-left lg:pl-12"
            >
                <h3 class="font-bold">Suivi et therapies breves</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero odio quod perspiciatis saepe beatae nobis, voluptatem
                    facere iusto? In autem, pariatur sit ullam mollitia sint
                    libero repellat iusto ab unde? Cum error perferendis
                    doloremque recusandae accusamus consequuntur quasi amet
                    fugit, animi repellat rem corrupti, consequatur atque
                    blanditiis ratione minima. Aliquam ipsa officiis esse,
                    quaerat delectus praesentium neque velit atque corrupti!
                    Inventore voluptas dolor quas veritatis culpa numquam,
                    similique, atque quam, beatae necessitatibus explicabo quia!
                    Molestiae, numquam ducimus. Ad, temporibus ullam illum
                    voluptatem, quisquam minima dolorem doloremque optio facere
                    mollitia quo!
                </p>
            </div>
        </div>
    </div>
</BaseLayout>

<Footer />
