---

---

<footer
    class="footer footer-center p-10 mt-16 bg-base-200 text-base-content rounded prose-base lg:prose-lg"
>
    <nav class="flex flex-col justify-center gap-4 sm:grid-flow-col sm:grid">
        <a href="/fertilite/" tabindex="0" class="link link-hover">Fertilite</a>
        <a href="/pertedepoids/" tabindex="0" class="link link-hover"
            >Perte de poids</a
        >
        <a href="/techniques/" tabindex="0" class="link link-hover"
            >Les techniques</a
        >
        <a href="/bio/" tabindex="0" class="link link-hover">A propos</a>
    </nav>

    <aside>
        <p>© 2020-present Olivier Tremblay. Tous droits reserves.</p>
    </aside>
</footer>
